#watchlist-page {
  min-height: calc(100vh - 100px);
  color: #fff;
}

#watchlist-page .row:nth-of-type(2) {
  border-block-end: 2px solid #f5c518;
}

#watchlist-page .cover-wrapper {
  width: 200px;
  object-position: center;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

#watchlist-page .cover-wrapper img {
  aspect-ratio: 1;
}

#watchlist-page .WL-header {
  gap: 0.5rem;
}

#watchlist-page .WL-header input {
  font-size: 1.6rem;
  font-weight: 500;
  color: inherit;
}

#watchlist-page .WL-header form {
  display: flex;
  padding-inline-end: 0.5rem;
}

#watchlist-page .WL-header form.isEditing {
  background-color: rgba(207, 207, 207, 0.342);
  outline: 1px solid #f5c518;
}

#watchlist-page .WL-header a {
  color: inherit;
}

#watchlist-page .WL-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f5c518;
  border-radius: 0.25rem;
  transition: all 300ms;
  padding: 0.2rem 0.5rem;
  color: #f5c518;
  min-width: 140px;
  max-width: 160px;
}

#watchlist-page .WL-header button:hover {
  background-color: #9292927e;
}

#watchlist-page .WL-header .delete-wrapper {
  display: flex;
  gap: 0.5rem;
}

#watchlist-page .WL-header .delete-wrapper button:not(:nth-of-type(1)) {
  min-width: auto;
  width: 3rem !important;
}
