.modal-dialog {
  margin-block-start: 5rem !important;
}

#EditModal .modal-footer {
  border-top: transparent;
  justify-content: center;
}

#EditModal .modal-body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#EditModal .modal-body input {
  background-color: #f7f7f791;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: 600;
  transition: all 200ms ease;
}

#EditModal .modal-footer button {
  display: flex;
  align-items: center;
  background-color: #f7f7f791;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  transition: all 200ms ease;
}

#EditModal .modal-body input:hover,
#EditModal .modal-footer button:hover {
  background-color: #acacace1;
}
