#watchlist-page {
  min-height: calc(100vh - 100px);
  color: #fff;
}

#watchlist-page .row:nth-of-type(2) {
  border-block-end: 2px solid #f5c518;
}

#watchlist-page .cover-wrapper {
  width: 200px;
  object-position: center;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

#watchlist-page .cover-wrapper img {
  aspect-ratio: 1;
}

#watchlist-page .WL-header {
  gap: 0.5rem;
}

#watchlist-page .WL-header input {
  font-size: 1.6rem;
  font-weight: 500;
  color: inherit;
}

#watchlist-page .WL-header form {
  display: flex;
  padding-inline-end: 0.5rem;
}

#watchlist-page .WL-header form.isEditing {
  background-color: rgba(207, 207, 207, 0.342);
  outline: 1px solid #f5c518;
}

#watchlist-page .WL-header a {
  color: inherit;
}

#watchlist-page .WL-header > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f5c518;
  border-radius: 0.25rem;
  transition: all 300ms;
  padding: 0.2rem 0.5rem;
  color: #f5c518;
  min-width: 140px;
  max-width: 160px;
}

#watchlist-page .WL-header > button:hover {
  background-color: #9292927e;
}

.poster-overlay-detailed {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #fff;
  padding-block-end: 0.3rem;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.41358550256039917) 35%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 0, 0, 0.7021009087228641) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.41358550256039917) 35%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 0, 0, 0.7021009087228641) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.41358550256039917) 35%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 0, 0, 0.7021009087228641) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.poster-overlay-detailed > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem;
  font-size: 0.8rem;
}

.poster-overlay-detailed > div .genre-badge {
  color: #f5c518;
  border-radius: 0.25rem;
  padding: 0rem 0.2rem;
}

.second-poster-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  font-size: 1.4rem;
  justify-content: flex-end;
}

.second-poster-overlay button {
  color: rgb(255, 205, 205);
  display: flex;
  transition: all 300ms;
}

.second-poster-overlay button:hover {
  color: red;
}

.discover-overlay {
  position: absolute;
  transition: all 300ms;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #f1d46a;
}

.discover-overlay:hover {
  color: #f5c518;
}

.discover-overlay::after {
  content: "";
  position: absolute;
  transition: all 300ms;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.41358550256039917) 35%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 0, 0, 0.7021009087228641) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.41358550256039917) 35%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 0, 0, 0.7021009087228641) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.41358550256039917) 35%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 0, 0, 0.7021009087228641) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.discover-overlay:hover::after {
  opacity: 0.2;
}
