#user-card-horizontal {
  background-color: #f7f7f791;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: #000;
  transition: all 300ms;
}

#user-card-horizontal a {
  color: inherit;
  flex-grow: 1;
}

#user-card-horizontal a:hover {
  text-decoration: none;
}

#user-card-horizontal > a > div {
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
}

#user-card-horizontal:hover {
  background-color: #c6c6c6;
}

#user-card-horizontal button {
  background-color: rgba(100, 255, 100, 0.678);
  padding: 0.2rem;
  border-radius: 0.3rem;
  transition: all 300ms;
}

#user-card-horizontal button:hover {
  background-color: #585858;
  color: rgb(100, 255, 100);
}
