#ai-wrapper {
  color: #fff;
  position: relative;
  min-height: 100vh;
}

#ai-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
  background: url(https://images.unsplash.com/photo-1595769816263-9b910be24d5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1179&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
}

#ai-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

#ai-section {
  transition: all 600ms;
}

#ai-section.moveUp {
  transform: translateY(-20vh);
}

#ai-section > .row:nth-of-type(1) {
  height: 45vh;
  align-items: flex-end;
}

#ai-section.moveUp > .row:nth-of-type(1) {
  margin-bottom: 10vh;
}

#ai-section .prompt-wrapper {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #d1d1d16b;
  border: #fff 2px solid;
  z-index: 1;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  #ai-section .prompt-wrapper {
    font-size: 1.3rem;
  }
}

#ai-section form {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#ai-section form input {
  color: #fff;
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem 1rem;
}

#ai-section .prompt-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 3rem;
  height: 100%;
}

#ai-section .Typewriter {
  position: absolute;
  left: 1rem;
  transition: all 200ms;
  user-select: none;
}

.prompt-wrapper:focus-within .Typewriter {
  visibility: hidden;
  opacity: 0;
}
