#ai-wrapper {
  position: relative;
  color: var(--text-color);
  min-height: calc(100vh - 65px);
  margin-top: 65px;
}

/* #ai-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
} */

#ai-section {
  transition: all 600ms;
}

#ai-section.moveUp {
  transform: translateY(-20vh);
}

#ai-section > .row:nth-of-type(1) {
  height: 45vh;
  align-items: flex-end;
}

#ai-section.moveUp > .row:nth-of-type(1) {
  margin-bottom: 10vh;
}

#ai-section .prompt-wrapper {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #ffffff1a;
  border: #fff 2px solid;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  #ai-section .prompt-wrapper {
    font-size: 1.3rem;
  }
}

#ai-section form {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#ai-section form input {
  color: #fff;
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem 1rem;
}

#ai-section .prompt-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 3rem;
  height: 100%;
}

#ai-section .Typewriter {
  position: absolute;
  left: 1rem;
  transition: all 200ms;
}

.prompt-wrapper:focus-within .Typewriter {
  visibility: hidden;
  opacity: 0;
}
