#log-reg {
}

#login-register-form {
  row-gap: 1.3rem;
  font-size: 1.2rem;
}

#login-register-form .logo-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 520px;
}

#login-register-form > * {
  width: 100%;
  max-width: 400px;
}

#login-register-form input,
#login-register-form > button,
#login-register-form a:nth-of-type(1) {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  background-color: #eef7ffc2;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: all 200ms ease;
}

#login-register-form input:hover,
#login-register-form input:focus,
#login-register-form > button:hover,
#login-register-form > button:focus,
#login-register-form a:nth-of-type(1):hover,
#login-register-form a:nth-of-type(1):focus,
#pw-wrapper button:hover,
#pw-wrapper button:focus {
  background-color: #ffffff;
}

#pw-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

#pw-wrapper input {
  flex-grow: 1;
  box-shadow: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: calc(100% - 44.8px);
}

#pw-wrapper button {
  background-color: #eef7ffc2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.75rem;
  height: 44.8px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: all 200ms ease;
}

#login-register-form a {
  text-align: center;
}

#login-register-form a:focus-visible {
  outline: none;
}

#login-register-form a:nth-of-type(1) {
  color: inherit;
}

#login-register-form a:nth-of-type(1):hover {
  text-decoration: none;
}

#login-register-form a:nth-last-of-type(1) {
  text-decoration: underline;
  color: #0000008f;
  transition: all 200ms;
}

#login-register-form a:nth-last-of-type(1):hover,
#login-register-form a:nth-last-of-type(1):focus-visible {
  color: #000;
}

#or-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#or-line::before,
#or-line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 45%;
  background-color: #00000062;
}

#or-line::before {
  left: 0;
}

#or-line::after {
  right: 0;
}
