.movie-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 3px rgba(256, 256, 256, 0.1);
}

.movie-card > div:nth-of-type(2) {
  flex-grow: 1;
  display: flex;
}

.movie-card-body {
  position: relative;
  height: 100%;
  display: flex;
}

.movie-card-body img {
  height: 100%;
  object-fit: cover;
}

.movie-card-body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7525210767900911) 0%,
    rgba(0, 0, 0, 0.3043418050814075) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7525210767900911) 0%,
    rgba(0, 0, 0, 0.3043418050814075) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7525210767900911) 0%,
    rgba(0, 0, 0, 0.3043418050814075) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.movie-card-body .poster-overlay {
  position: absolute;
  width: 100%;
  display: flex;
  padding-inline: 10px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  bottom: 0;
  justify-content: space-between;
  align-items: end;
}

.movie-card-body .poster-overlay > span {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.movie-card-body .poster-overlay > a {
  font-size: 1.2rem;
  color: #fff;
}
