#nav {
  color: #ffffffc0;
  padding: 0.3rem 1rem;
  background-color: rgb(31, 31, 31);
  box-shadow: 0px 1px 3px 3px rgba(255, 255, 255, 0.3);
}

#nav .nav-link {
  border-radius: 0.3rem;
  color: inherit;
  transition: 300ms;
}

#nav .nav-link:hover,
#nav .nav-link.active:hover {
  color: #fff;
  background-color: rgb(88, 88, 88);
}

#nav #logout.nav-link:hover {
  color: #fff;
  background-color: rgb(99, 1, 1);
}

#nav .nav-link.active {
  color: #fff;
  background-color: rgba(88, 88, 88, 0.3);
}

#movie-advisor-btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: bgAnim 3s infinite;
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(203, 255, 107, 1) 20%,
    rgba(251, 185, 11, 1) 40%,
    rgba(84, 227, 255, 1) 60%,
    rgba(61, 246, 99, 1) 80%,
    rgba(174, 61, 246, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(203, 255, 107, 1) 20%,
    rgba(251, 185, 11, 1) 40%,
    rgba(84, 227, 255, 1) 60%,
    rgba(61, 246, 99, 1) 80%,
    rgba(174, 61, 246, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(203, 255, 107, 1) 20%,
    rgba(251, 185, 11, 1) 40%,
    rgba(84, 227, 255, 1) 60%,
    rgba(61, 246, 99, 1) 80%,
    rgba(174, 61, 246, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ae3df6",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
}

@keyframes bgAnim {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#movie-advisor-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 600ms;
  background: rgb(131, 58, 180);
  background: -moz-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  opacity: 0;
  z-index: -1;
  animation: bgAnim 3s infinite;
  background-size: 300% 300%;
}

#movie-advisor-btn:hover,
#movie-advisor-btn.active {
  -webkit-text-fill-color: #fff;
}

#movie-advisor-btn:hover::before,
#movie-advisor-btn.active:hover::before {
  opacity: 1;
}

#movie-advisor-btn.active::before {
  opacity: 0.5;
}

#nav .navbar-brand {
  width: 7rem;
}

@media (max-width: 992px) {
  #nav .navbar-toggler {
    order: -1;
  }
}

@media (min-width: 992px) {
  #nav .user-related {
    order: 1;
  }
}

#navatar {
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.navbar .navbar-toggler {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.navbar .navbar-toggler .icon-line {
  display: block;
  height: 2px;
  width: 26px;
  border-radius: 2px;
  transition: all 300ms;
  background-color: #fff;
}

.navbar .navbar-toggler .icon-line:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar .navbar-toggler .icon-line:nth-of-type(2) {
  opacity: 0;
}

.navbar .navbar-toggler .icon-line:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar .navbar-toggler.collapsed .icon-line:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar .navbar-toggler.collapsed .icon-line:nth-of-type(2) {
  opacity: 1;
}

.navbar .navbar-toggler.collapsed .icon-line:nth-of-type(3) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
