#nav {
  padding: 0.3rem 1rem;
}

#nav .navbar-brand {
  width: 6rem;
}

@media (max-width: 992px) {
  #nav .navbar-toggler {
    order: -1;
  }
}

@media (min-width: 992px) {
  #nav .user-related {
    order: 1;
  }
}

#navatar {
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
