#movies-page {
  color: #fff;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

#movies-page .control-panel button:not(.dropdown-item) {
  background-color: #585858;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5c518;
  color: #f5c518;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 300ms;
}

#movies-page .control-panel button:not(.dropdown-item):hover {
  background-color: #f0c21c5d;
}

#movies-page .pagination-btn {
  background-color: #585858;
  color: #f5c518;
  font-size: 1.2rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}

#movies-page .pagination-btn:hover {
  text-decoration: none;
  background-color: #f0c21c5d;
}

#movies-page .pagination-btn.current {
  background-color: #f5c518;
  color: #000;
}
